.header {
    text-align: center;
}

#forecastLabel {
    text-align: center;
    padding-bottom: 40px;
}

#forecastIcon {
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}

#g_clock {
    text-align: center;
    padding-bottom: 40px;
}

p {
    text-align: center;
}

.cold {
    background-color: #95A5A6;
}

.chilly {
    background-color: #1ABC9C;
}

.nice {
    background-color: #2980B9;
}

.warm {
    background-color: #E67E22;
}

.hot {
    background-color: #E74C3C;
}
